*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'sans-serif';
    background: url(/asset/img/J4o.gif) no-repeat fixed;
    background-size: cover;
}


.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 7px 55px;
}
/* ===================================nav========================================= */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

.nav .logo{
    font-size: 3rem;
    color: #fff;
}
.nav .logo::after{
    content: '';
    background: linear-gradient(to right, red, blue, red);
    display: inline-block;
    padding: 20px 20px;
    position: relative;
    transform: translate(-360px, 10px) tr;
}
.nav .logo .logo-name{
    font-weight: bold;
    color: #f8312f;
    margin-left: 10px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav .logo .logo-name:hover{
    color: #fa4b48e1;
}
ul{
    display: inline-flex;
    gap: 30px;
    list-style: none;
}
ul li a{
    color: red;
    font-size: 1.6rem;
    text-decoration: none;
}
ul li a:hover, ul li a::after{
    color: white;
    content: '';
    display: block;
    width: 100%;
    margin-top: 5px;
    animation: afterSlide 0.5s ease-in;
    visibility: visible;
    /* transition: all 0.3s ease; */

}
@keyframes afterSlide {
    from{
        transform: perspective(0px) scale(1);
        width: 0;
    }
    to{
        transform: perspective(20px) scale(0.8);
        width: 100%;
        color: #f52a2a;
    }
}
ul li a::after{
    width: 100%;
    margin-top: 20px;
    border-bottom: 5px solid white;
    /* transition: all 0.3s ease; */
}
ul li a:hover::after{
    width: 100%
}
.Download{
    background: #f8312f;
    color: #fff;
    padding: 10px 50px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    box-shadow: 0px 0px 13px -9px #000000 inset,
    0px 0px 13px -9px #000000 inset,0px 0px 13px -9px #000000 inset, 0px 0px 13px -9px #000000 inset;
    font-weight: 900;
    font-size: 1.8rem;
    transition: all 0.6s ease-in-out;
    /* -webkit-text-stroke: 0.7px blue; */
}
.Download:focus{
    box-shadow: 0px 0px 13px -9px #fff inset,
    0px 0px 13px -9px #fff inset,0px 0px 13px -9px #fff inset, 0px 0px 13px -9px #fff inset;
}

.Download:hover{
    background-color: #f52a2a;
    transform: scale(1.1);
}
.signIn{
    background: #fff;
    color: #f8312f;
    padding: 10px 80px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 13px -9px #000000 inset,
    0px 0px 13px -9px #000000 inset,0px 0px 13px -9px #000000 inset, 0px 0px 13px -9px #000000 inset;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.8rem;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
}

.signIn:hover{
    background-color: #f52a2a;
    color: #fff;
}
.repeat-text{
    text-align: center;
    margin: 60px 0;
}
.repeat-text .H1{
    color: #f52a2a;
    font-size: 5rem;
    font-weight: 500;
    padding: 0 100px;
}
.repeat-text .H1 span{
    position: relative;
    color: /*rgba(255, 255, 255, 0.4)*/ transparent;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.4);
    animation: displayText 9s infinite;
    animation-delay: calc(-3s * var(--1));
}
@keyframes displayText {
    0%{
        display: inline-block;
    }
    33.33%,100%{
        display: none;
    }
}

.H1 span::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: /*#01fe87*/ transparent;
    border-right: 4px solid #01fe87;
    filter: drop-shadow(0 0 5px #01fe87) drop-shadow(0 0 21px #01fe87);
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
/* .banner{
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
} */
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 25%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun {
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}
.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
             translateZ(550px);
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 20px;
    border-radius: 10px;
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-size: 16em;
    line-height: 1em;
    color: #252830;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(auto-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}
.banner .content .author{
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
.banner .content .model{
    background: url("../pic/XDZT.gif");
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}
.la-brea{
    position: absolute;
    top: 60px;
    left: 500px;
    z-index: 3;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
    font-size: 7em;
}
/* ==================================up cursor name================================== */
.item1::before{
    content: 'Linear-gradient generator';
    background: linear-gradient(to right, blue, red, blue);
    color: transparent;
    position: absolute;
    font-size: 17px;
    display: inline;
    display: block;
    transform: translate(0px, -50px);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
    background-clip: text;
}